* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #f3f5fc;
    background-image: url(/img/05\ L.jpg);
    background-size: cover;
    width: 100vw;
    overflow-x: hidden;
}


#logo{
    width: 100px;
    margin-left: 50px;
}

.main {
    display: flex;
    margin-left: 60px;
    margin-bottom: 50px;
   
}

.input-texto {
    margin-top: 30px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(10, 10, 10, 0.849);
    border: none;
    color: #f3f5fc;
}

::placeholder{
    color: #fff;
}

.cx_mensagem {
    margin-top: 28px;
    margin-left: 275px;
    background-image: url("/img/0000.png");
    background-repeat:no-repeat;
    background-size:230px;
    background-position: center center;
    border-radius: 10px;
    background-color:rgba(10, 10, 10, 0.849);
    border: none;
    color: #fff;
    outline: none;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
}

.criptografar {
    background-color: darkblue;
    color: white;
    width: 160px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

.criptografar:hover{
    box-shadow:  0px 0px 10px rgb(0, 255, 85);
}

.criptografar:active{
    transform:scale(.96);
    box-shadow:  5px 5px 10px rgb(0, 255, 255);
}

.descriptografar {
    background-color: rgb(0, 139, 139);
    color: #fff;
    margin-left: 30px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

.descriptografar:hover{
    box-shadow:  0px 0px 10px rgb(0, 255, 85);
}

.descriptografar:active{
    transform:scale(.96);
    box-shadow:  5px 5px 10px rgb(0, 255, 255); 
}

.informacao {
    font-size: 15px;
    color: #fff;
    margin-left: 40px;
    margin-top: 0;
    text-decoration: underline;
}

.btn-copiar{
    margin-top: 55px;
}

#copiar {
    background:linear-gradient(rgb(4, 4, 77),rgb(22, 166, 177));
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 450px;
}

#copiar:hover{
    box-shadow: 2px 2px 15px rgb(0, 255, 85) ;
    
}

#copiar:active{
    transform:scale(.96);
    box-shadow:  5px 5px 10px rgb(0, 255, 255);
}

footer{
    display: flex;
    justify-content:flex-end;
}

footer p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.fa-brands{
    color: rgb(0, 183, 255);
    margin-right: 50px;
    margin-top: 15px;
   
}

@media all and (min-width:375px)and (max-width: 767px){
   html,body{
    overflow-x: hidden;
   }

   body{
    background-color: #f3f5fc;
    background-image: url(/img/05\ L.jpg);
    
   
   }

   #logo{
       margin-left: 125px;
   }
   
    .main{
        display: block;
        flex-direction: column;
        margin: 10px;
    }

    .input-texto,.cx_mensagem{
        width: 340px;
    }

    .informacao{
        text-align: center;
        margin-right: 30px;
        
    }

    .botoes{
        margin-left: 0px;
        margin-bottom: 10px;
        
    }

    .cx_mensagem{
        margin: 0;
        
    }

    .criptografar{
        font-size: 18px; 
        height: 40px;
    }

    .descriptografar{
        width: 155px;
        font-size: 18px;
        height: 40px;
    }


    #copiar{
       margin: 0;
       margin-left: 120px;
    }

    footer p{
       font-size: 16px; 
       
    }

    
}